<h2>イカボー</h2>
<p>こんにちは、このサイトはとても素晴らしいサイトです</p>

<p><%= link_to 'Articles#Show', article_path(1) %></p>
<p><%= link_to 'Articles#New', new_article_path %></p>
<p><%= link_to 'Users#Show', user_path(1) %></p>
<p><%= link_to 'Users#New', new_user_path %></p>
<p><%= link_to 'Sessions#New', new_session_path %></p>
